@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  font-family:roboto;
  background-color:orange;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight:bold;
  list-style:none;
}
#main{
  background-color: whitesmoke;
  height:100%;
  background: rgba(0,0,0,0.5) url(img/sam1.jpg)no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  padding-bottom: 190px;
}
header{
  position: sticky;
  top:0;
  left: 0;
  width: 100%;
  padding: 25px 80px;
  background: linear-gradient(to top,transparent,rgba(0,0,0,0.9));

}
header .logo{
  font-size: 28px;
  font-weight: 700;
  color:#ffae00;
  font-style: italic;
  text-align: center;
  font-family: roboto;
  float: left;
}
header .logo:hover{
  transform: rotate(3deg)scale(1.5);
}
header .menu{
  float: right;
  margin-top: 5px;
  margin-right: 0;

}
header .menu:hover{
transform: scale(1.1);
box-shadow:5px 2px black;
}
header ul li{
  display: inline-block;
  margin-right: 10px;
}
header ul li a{
  position: relative;
  text-decoration: none;
  font-size: 20px;
  color:#ffae00;
  padding-bottom: 2px;
  margin: 0 5px 0 0;
  font-weight:300;
  letter-spacing: 1px;
}
header ul li:nth-child(5){
  margin-right: 0px;
}
header ul li :hover{
  transform: scale(1.1);
  color: #ffae00;
  text-decoration: none;
  box-shadow: 0 0px 25px rgba(0,0,0,0);


}
header ul li a:before{
  position:absolute;
  content:'';
  left:0;
  bottom:0;
  height:3px;
  width:100%;
  background:#ffc107;
  transform:scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;


}
header ul li a:hover:before{
  transform:scaleX(1);
  transform-origin: left;
  text-decoration:none;
  color:white;

}
#container a{
  text-decoration: none;
}
#container{
border: 1.5px solid #ffae00;
text-align: center;
padding: 40px 20px 40px 20px;
width:60%;
height:auto;
margin-top:150px;
margin-left:auto;
margin-right: auto;
transition: .7s;
box-shadow: 0 0px 25px rgba(0,0,0,0.3);
}
form{
width:100%;
}
#login,#username,#password{
    width:60%;
    height: 35px;
    border-radius:10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;

}
#username,#password{
    margin-bottom:10px;
}
#login{
  background-color: #ffae00;;
  color: white;
  font-style:italic;
}
#signup{
  margin-top:10px;
  margin-bottom:0;
  padding:0;

  color:orange;
}


@media (max-width:950px){
  header{
    padding: 0;
    margin: 0;
  }
header .logo{
  float: none;
  padding:15px 0 0 0;
  margin:0;
}
header .menu{
  text-align: center;
  float: none;
  margin: 20px;
  padding: 0;
}
}
@media (max-width:450px){
  header .menu li a{

  font-size: 0.9em;
  }

#container{
  width: 90%;
}
}
