@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  font-family: 'open sans',sans-serif;
}
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration:none;
  font-weight: bold;
  list-style: none;
}
#container{
  margin-top:100px;
  margin-left: auto;
  margin-right:auto;
  width:60%;
  padding:50px;
  border:2px solid #13b08f;
  transition: .7s;
  box-shadow: 0 0px 25px rgba(0,0,0,0.3);
}
#ul{
  padding-left:60px;
  line-height:27px;
  color: blue;
  text-transform:capitalize;
  margin-bottom:20px;
}
#ul li a:hover{
  text-shadow: 0 10px 15px rgba(0.1,0,0,0.3);

}
#head{
  color:#13b08f;
  margin-bottom:20px;
}
#description{
  margin-bottom:20px;
}
#list{
  margin-bottom:20px;
}
#share{
  margin-bottom:20px;
}
#flex{
  display: flex;
}
p #ul1 {
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;

}
#ul1 li a {
  position: relative;
  width:40px;
  height:40px;
  display:block;
  text-align:center;
  margin:-10px 10px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}
#ul1 li a:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration:none;
}

#ul1 li a .fa {
  width: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(47px - 12px);
  font-size:14px;
  color: #262626;
  transition: .5s;
}

#ul1 li:nth-child(1) a:hover .fa {
  color: #3b5998;
}

#ul1 li:nth-child(2) a:hover .fa {
  color: #00aced;
}

#ul1 li:nth-child(3) a:hover .fa {
  color: #007bb6;
}
/*--------------------------------responsive-----------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {

#container{
  padding:35px;
  font-size: 0.9em;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  #container{
    padding:30px;
    font-size: 0.8em;
  }
#ul1 li a {
  width:30px;
  height: 30px;
  margin:-7px 10px;
}
#ul1 li a .fa {
  line-height: calc(39px - 12px);
}
}
@media (max-width: 767px) {
  #container{
    padding:25px;
    font-size: 0.7em;
  }
  #ul{
    padding-left:40px;
  }
  #ul,#head,#description,#list,#share{
    margin-bottom:9px;
  }
  #ul1 li a {
    width:25px;
    height: 25px;
    margin:-6px 10px;
  }
  #ul1 li a .fa {
    line-height: calc(34px - 12px);
  }
}
@media (max-width: 478px) {
  #container{
    padding:20px;
    font-size: 0.6em;
  }
  #ul{
    padding-left:10px;
    line-height:19px;
  }
  #ul,#head,#description,#list,#share{
    margin-bottom:6px;
  }
  #ul1 li a {
    width:20px;
    height: 20px;
    margin:10px 10px;
  }
  #ul1 li a .fa {
    line-height: calc(29px - 12px);
  }
#flex{
  display: block;
}
}
